::selection {
  background: #000000;
  color: #fff;
}
::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #fbbd23;
  transition: 0.3s ease;
  border: 3px solid #fff;
  border-radius: 100vh;
}
::-webkit-scrollbar-thumb:hover {
  background: #fbbd23;
}
